.maincont {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-direction: column;
}
.mainh1 {
  background-color: #0d3f36;
  text-shadow: 0 0 30px #f06292;
  font-size: 55px;
  margin: 20px auto;
  text-align: center;
  color: #f06292;
  width: 100%;
  max-width: 700px;
  border-radius: 4px;
  font-family: "Great Vibes", cursive;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 4px;
  padding: 15px;
}
.mainbtn {
  margin: 80px auto;
  min-height: 40px;
  width: 220px;
  border: none;
  font-size: 20px;
  outline: none;
  color: #f06292;
  background: rgb(13, 63, 54);
  cursor: pointer;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.mainbtn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3), 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.mainbtn:active {
  transform: translateY(1px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 2px rgba(0, 0, 0, 0.1);
}
